node_modules
.DS_Store
dist
dist-ssr
cache
.cache
.temp
*.local
.vscode
.idea
.history/*
*.code-workspace

wechat-archive-tool/wechat_cookies.json
wechat-archive-tool/__pycache__
wechat-archive-tool/src/__pycache__
wechat-archive-tool/articles

doc/public/wechat-backups
doc/public原图备份

# 公众号视频过大，不纳入 git 管理
doc/public/wechat/articles/**/*.mp4