node_modules
.DS_Store
dist
dist-ssr
cache
.cache
.temp
*.local
.vscode
.idea
.history/*
*.code-workspace

wechat-archive-tool/wechat_cookies.json
wechat-archive-tool/__pycache__
wechat-archive-tool/src/__pycache__
wechat-archive-tool/articles

doc/public/wechat-backups
doc/public/原图备份